#sudoku-board{
    box-shadow: 3px 5px 10px black;
}
#solve-button{
    border: none;
    margin-top: 50px; font-size:25px;
    background-color:rgb(21, 136, 1);
    padding:5px 45px;
    color: rgb(252, 251, 251);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4;

}
#clear-button{
    border: none;
    margin-top: 25px; font-size: 25px;
    color: white;
    background-color:blue;
    padding:5px 45px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4;

}
#solve-button:active{
    box-shadow: inset 1px 1px 3px #babeec, inset -1px -1px 2px #ffffff ;
    transform: translateY(-10px);
    /* scale: 10px; */
    transition: all 100ms ease-in-out;
}
#clear-button:active{
        box-shadow: inset 1px 1px 3px #babeec, inset -1px -1px 2px #ffffff ;
        transform: translateY(-10px);
        transition: all 100ms ease-in-out;
     
}
td:hover{
    background-color: aqua;
}
td:active{
    background-color: white;
}
